.DS_Store
bin/.DS_Store
bin/mips_simulator
bin/mips_simulator.exe
bin/simulator.exe
bin/simulator
sim_src/main.o
sim_src/MIPS_instructions.o
mips.bin
testbin.bin
.vscode/settings.json
sim_src/memoryMap.o
sim_src/registers.o
sim_src/simulator.o
bin/parser
testFile.txt
outFileName.txt
bin/testBash
test/output/out.csv
bin/new_test
test/output/out.csv
bin/win_testbench
tbench_src/test_bins/parser
tbench_src/test_bins/bgezal2.bin
tbench_src/bin/bingen_win
tbench_src/bin/parser
test/temp/addiu1.bin
test/temp/add1.bin
test/temp/add2.bin
test/temp/addi1.bin
test/temp/addi2.bin
test/temp/addu1.bin
test/temp/and1.bin
test/temp/andi1.bin
test/temp/beq1.bin
test/temp/beq2.bin
test/temp/bgez1.bin
test/temp/bgez2.bin
test/temp/bgez3.bin
test/temp/bgezal1.bin
test/temp/bgezal2.bin
test/temp/bgezal3.bin
test/temp/bgtz1.bin
test/temp/bgtz2.bin
test/temp/bgtz3.bin
test/temp/blez1.bin
test/temp/blez2.bin
test/temp/blez3.bin
test/temp/bltz1.bin
test/temp/bltz2.bin
test/temp/bltz3.bin
test/temp/bltzal1.bin
test/temp/bltzal2.bin
test/temp/bltzal3.bin
test/temp/bne1.bin
test/temp/bne2.bin
test/temp/div1.bin
test/temp/div2.bin
test/temp/div3.bin
test/temp/divu1.bin
test/temp/divu2.bin
test/temp/hello1.bin
test/temp/j1.bin
test/temp/jal1.bin
test/temp/jalr1.bin
test/temp/lb1.bin
test/temp/lb2.bin
test/temp/lb3.bin
test/temp/lb4.bin
test/temp/lbu1.bin
test/temp/lbu2.bin
test/temp/lbu3.bin
test/temp/lbu4.bin
test/temp/lbu5.bin
test/temp/lh1.bin
test/temp/lh2.bin
test/temp/lhu1.bin
test/temp/lhu2.bin
test/temp/lui1.bin
test/temp/lui2.bin
test/temp/lw1.bin
test/temp/lw2.bin
test/temp/lw3.bin
test/temp/lw4.bin
test/temp/lwl1.bin
test/temp/lwl2.bin
test/temp/lwl3.bin
test/temp/lwl4.bin
test/temp/lwl5.bin
test/temp/lwr1.bin
test/temp/lwr2.bin
test/temp/lwr3.bin
test/temp/lwr4.bin
test/temp/lwr5.bin
test/temp/mfhi1.bin
test/temp/mflo1.bin
test/temp/mthi1.bin
test/temp/mtlo1.bin
test/temp/mult1.bin
test/temp/mult2.bin
test/temp/multu1.bin
test/temp/multu2.bin
test/temp/or1.bin
test/temp/or2.bin
test/temp/ori1.bin
test/temp/ori2.bin
test/temp/sb1.bin
test/temp/sb2.bin
test/temp/sh1.bin
test/temp/sh2.bin
test/temp/sh3.bin
test/temp/sll1.bin
test/temp/sllv1.bin
test/temp/sllv2.bin
test/temp/slt1.bin
test/temp/slti1.bin
test/temp/sltiu1.bin
test/temp/sltu1.bin
test/temp/sra1.bin
test/temp/sra2.bin
test/temp/srav1.bin
test/temp/srav2.bin
test/temp/srl1.bin
test/temp/srl2.bin
test/temp/srlv1.bin
test/temp/srlv2.bin
test/temp/sub1.bin
test/temp/sub2.bin
test/temp/subu1.bin
test/temp/subu2.bin
test/temp/sw1.bin
test/temp/sw2.bin
test/temp/xor1.bin
test/temp/xor2.bin
test/temp/xori1.bin
test/temp/xori2.bin
