.DS_Store
bin/.DS_Store
bin/mips_simulator
bin/mips_simulator.exe
bin/simulator.exe
bin/simulator
sim_src/main.o
sim_src/MIPS_instructions.o
mips.bin
testbin.bin
.vscode/settings.json
sim_src/memoryMap.o
sim_src/registers.o
sim_src/simulator.o
bin/parser
testFile.txt
outFileName.txt
bin/testBash
test/output/out.csv
bin/new_test
test/output/out.csv
